<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS}: [%t] %-5p [%c{O}:%M:%L] - *%m%throwable%n</pattern> -->
            <!-- <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> -->
            <pattern>===-> %d{HH:mm:ss} %-5p %c.java:%L - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/auto-tests.log</file>
        <encoder>
            <!-- <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS}: [%t] %-5p [%c{O}:%M:%L] - *%m%throwable%n</pattern> -->
            <!-- <pattern>===-> %d{HH:mm:ss.SSS} %-5p %c.java:%L - %m%n</pattern> -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <!-- Отключить логи некоторых библиотек -->
    <logger name="org.springframework" level="OFF"><appender-ref ref="STDOUT"/></logger>
    <logger name="org.springframework" level="OFF"><appender-ref ref="FILE"/></logger>
    <logger name="org.hibernate" level="0FF"><appender-ref ref="STDOUT"/></logger>
    <logger name="org.hibernate" level="OFF"><appender-ref ref="FILE"/></logger>
    <logger name="com.zaxxer" level="OFF"><appender-ref ref="STDOUT"/></logger>
    <logger name="com.zaxxer" level="OFF"><appender-ref ref="FILE"/></logger>
    <logger name="io.gameta.allure" level="OFF"><appender-ref ref="STDOUT"/></logger>
    <logger name="io.gameta.allure" level="OFF"><appender-ref ref="FILE"/></logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <!-- <appender-ref ref="FILE" /> -->
    </root>

</configuration>
